[theme-preference="light"] {
  --bg-color: linear-gradient(rgba(143, 139, 139, 0.8) ,rgba(234, 230, 230, 0.9) , rgba(234, 230, 230, 1));
  --text-color: #1d262a;
}
[theme-preference="dark"] {
  --bg-color: linear-gradient(rgba(64, 47, 47, 0.9),rgba(0,0,0,0.9),rgba(0,0,0,1));
  --text-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    position: relative;
    background: var(--bg-color);
    background-repeat: no-repeat;
    color: var(--text-color);
    transition-duration: 0.2s;
}

nav{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background: black;
    color: white;
    z-index: 5;
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    margin: auto;
}

.hide{
    display: none;
}

.opacity_0{
    filter:blur(10px);
    z-index: 2;
}

#calendar{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: fit-content;
    border: 1px solid;
}
#calendar>div{
    border: 0.5px solid;
    text-align: center;
    padding: 0.5rem;
}




.cancel_button_absolute{
    position: absolute;
    padding-inline: 0.25rem;
    padding-block: 0.05rem;
    border: 1px solid;
    right: 0.5rem;
}
.cancel_button_absolute:hover{
    background-color: red;
    cursor: pointer;
}
.cancel_button_absolute:active{
    background-color: blue;
    cursor: pointer;
    color: wheat;
}


.elevated_store_div{
    border: 2px solid;
    width:fit-content;
    padding:2rem; 
    margin-bottom: 1rem;
    position: relative;
    background-color: rgba(255,255,255,0.7);
    color: green;
    box-shadow: 10px 10px 20px black;
}


.form{
    display:flex; 
    flex-direction:column;
    justify-content:center;
}

.div_upper_end_2rem{
    margin-top: 2rem;
}

.div_right_end_2rem{
    margin-right: 2rem;
}

.padded_border{
    border: 2px solid;
    padding: 0.5rem;
    margin-block: 0.5rem;
}

.width_fit_content{
    width: fit-content;
}

.position_relative{
    position: relative;
}
.display_flex{
    display: flex;
    gap: 1rem;
}
.dispaly_flex_column{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.feature_expander_button{
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border: 2px solid black;
    width: fit-content;
    background: green;
    color: white;
}

.feature_expander_button:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}

.feature_expander_button:active{
    background-color: greenyellow;
    cursor: pointer;
}



.delete_button{
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border: 2px solid black;
    width: fit-content;
    background-color: rgba(255,0,0,1);
    color: white;
}

.delete_button:hover{
    background-color: rgb(154, 0, 0);
    color: white;
    cursor: pointer;
}

.delete_button:active{
    background-color: rgb(3, 0, 0);
    color: white;
    cursor: pointer;
}
