<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            Base File
            {% endblock title %}
        </title>
        {% block carry_over_css_files %}
            <link rel="stylesheet" href="{% static 'base/styles/base_1.css' %}">
        {% endblock carry_over_css_files  %}
        {% block new_css_files %}
        
        {% endblock new_css_files  %}
        
</head>
<body>
    <nav>
        <div>
            <a href="{% url 'expenses:home' %}">
                HOME
            </a>
        </div>
        <div>
            {% if user.username %}
                {{ user.username }}
            {% else %}
                {{ user.email }}
            {% endif %}
        </div>
    </nav>
    {% block body %}
        BASE BODY
    {% endblock body %}
</body>
</html>