<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            Base File
            {% endblock title %}
        </title>
        {% block new_css_files %}
        
        {% endblock new_css_files  %}
        {% block carry_over_css_files %}
            <link rel="stylesheet" href="{% static 'base/styles/base_1.css' %}">
        {% endblock carry_over_css_files  %}
        <link rel="shortcut icon" href="{% static 'base/images/expense.png' %}" type="image/x-icon">
</head>
<body>
    <nav>
        <div>
            <a href="{% url 'expenses:home' %}">
                HOME
            </a>
        </div>
        <div class="display_flex">
            <div id="theme_toggler_button" class="border-padded"> 
                <span hidden id="toggle_to">
                    Dark
                </span> 
            </div>
            <a href="{% url 'accounts:logged_in_user' %}">
                {% if user.username %}
                {{ user.username }}
                {% else %}
                {{ user.email }}
                {% endif %}
            </a>
        </div>
    </nav>
    <section style="min-height:100dvh;">
        {% block body %}
        BASE BODY
        {% endblock body %}
    </section>
    <script src="{% static 'base/scripts/base_1.js' %}"></script>
</body>
</html>