{% extends 'base/Base_1.html' %}
{% load static %}

{% block title %}
    EXPENSES
{% endblock title %}

{% block new_css_files %}    
<link rel="stylesheet" href="{% static 'expenses/styles/home_1.css' %}">
{% endblock new_css_files %}    

{% block body %}
    <section class="container">
        <h1>LOGGED IN</h1>
        <p>USING EMAIL: {{ user.email }}.</p>
        {% if user.username %}
        <p>Username: {{ user.username }}</p>
        {% else %}
        <p>No Username Added. </p>
        {% endif %}
    </section>

{% endblock body %}