{% extends 'base/Base_1.html' %}
{% load static %}

{% block head %}

    {% block title %}
        EXPENSES
    {% endblock title %}



    {% block new_css_files %}   
    {% endblock new_css_files %}  
    
{% endblock head %}

{% block body %}
    {% for expense in expenses %}
        <div>
            {{expense.amount}} {{expense.date_time}}
        </div>
    {% endfor %}

    Related Months calender for visit.
    <div>
        <div>   {{ current_month }}, {{ current_year }}</div>
        <div id="calendar">
            
            {% for day in current_month_days %}
            <div>
                <a href="{% url 'expenses:day_based_expenses' arg_1_day=day arg_2_month=current_month arg_3_year=current_year %}">
                    {{ day }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}