{% extends 'base/Base_1.html' %}
{% load static %}

{% block title %}
    EXPENSE DETAIL
{% endblock title %}

{% block new_css_files %}
    <link rel="stylesheet" href="{% static 'expenses/styles/ExpenseDetail.css' %}">
{% endblock new_css_files  %}

{% block body %}

    <section id="delete_confirmation_section"  class="delete_confirmation_section container hide">
        <p>Do you really want to delete this expense?</p>
        <div class="display_flex">
            <div class="delete_button" >
                <a href="{% url 'expenses:delete-expense' arg_1_expense_query_slug=expense.query_slug %}">
                        Delete 
                </a>
            </div>
            <div id="cancel_expense_delete_button" class="feature_expander_button"> 
                Cancel 
            </div>
        </div>
    </section>


    <section id="main_section" class="container">
        
        <form action="" method="post" class="padded_border">
            {% csrf_token %}
            <div class="padded_border width_fit_content">
                EXPENSE {{ expense_detail_edit_form.amount }} on {{ expense_detail_edit_form.date_time }}
            </div>
            <div class="padded_border">
                <p>
                    ABOUT: 
                </p>
                    
                {{ expense_detail_edit_form.about }}
            </div>
            <input type="hidden" name="expense_edit_detail_form">
            <button type="submit">Press to push edits</button>
        </form>
        

        <div id="delete_expense_create_button" class="delete_button">
            DELETE
        </div>

        <div class="elevated_store_div">
            
            <form action="" method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                
                {% if expense_related_image_form.non_field_errors %}
                {% for error in expense_related_image_form.non_field_errors %}
                {{ error }}
                {% endfor %}
                {% endif %}
                
                {% for field in expense_related_image_form%}
                {% if field.errors %}  
                {% for error in field.errors %}
                <span>
                    {{ error }}
                </span>
                {% endfor %}
                {% endif %}
                {{ field.label }} : {{ field }}
                {% endfor %}
                
                <input type="hidden" name="expense_related_image_form">
                <button type="submit">Submit</button>
            </form>
        </div>
        
        
        <div id="image_storage_section" class="padded_border width_fit_content">
            <p>
                RELATED IMAGE
            </p>
            <div id="image_div_storage" class="dispaly_flex">
                {% for image in expense_related_images %}
                <div class="elevated_store_div width_fit_content position_relative">
                    <a href="{% url 'expenses:delete-expense-related-image' arg_1_image_id=image.id %}">
                        <div class="cancel_button_absolute"> X  </div>
                    </a>
                    <img style="width:200px;border:2px solid red;" src="{{ image.related_image.url }}" alt="" srcset="">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="{% static  'expenses/scripts/expense_details_1.js' %}"></script>
    
        
{% endblock body %}