{% extends 'base/Base_1.html' %}
{% load static %}

{% block title %}
    EXPENSES
{% endblock title %}



{% block new_css_files %}    
<link rel="stylesheet" href="{% static 'expenses/styles/home_1.css' %}">
{% endblock new_css_files %}    


{% block body %}

<section class="container" id="section_1">

    <div id="show_create_expense_form_button" class="feature_expander_button">
        CREATE EXPENSES
    </div>
    
    <div id="create_expense_form_div" class="form_store_div hide">
        <div id="create_expense_form_cancel_button" class="cancel_button_absolute">X</div>
        <form action="" method="post" class="form div_upper_end_2rem" >
            {% csrf_token %}
            {% if create_expense_form.non_field_errors %}
            {% for error in user_create_form.non_field_errors %}
            {{ error }}
            {% endfor %}
            {% endif %}
            
            <table>
                
                {% for field in create_expense_form %}
                
                <tr>
                    
                    {% if field.errors %}  
                    {% for error in field.errors %}
                    <span>
                        {{ error }}
                    </span>
                    {% endfor %}
                    {% endif %}
                    <td>
                        {{ field.label }}
                    </td>
                    <td>
                        {{ field }}
                    </td>
                    
                    
                </tr>
                {% endfor %}
                
            </table>
            <input type="hidden" name="create_expense_post_form">
            <button id="create_expense_submit"  type="submit">
                LIST EXPENSE
            </button>
        </form>
    </div>
    
    <div>
        <p>
            HIGHEST EXPENSE: {{ highest_expense }} on {{ highest_expense_date_time.date_time }}
        </p>
    </div>

    
    <div class="padded_border" >
        
        <div>
            EXPENSE OF CURRENT MONTH : {% now "F (mS), Y" %}
        </div>
        
        <div id="expenses">
            <table border="5">
                
                <thead>
                    <td>AMOUNT (₹) </td>
                    <td>DAY</td>
                    <td>TIME</td>
                    <td>ABOUT</td>
                    <td>DETAILS</td>
                </thead>
                {% for expense in expenses %}
                
                <tr>
                    
                    <td style="text-align:end;">
                        {{ expense.amount }}
                    </td>
                    <td>
                        {{ expense.date_time|date:'j/m/Y' }}
                    </td>
                    <td>
                        {{ expense.date_time|date:'H:i'  }}
                    </td>
                    <td>
                        {{ expense.about|truncatewords_html:3 }}
                    </td>
                    <td>
                        <a href="{% url 'expenses:expense_detail' arg_1_expense_query_slug=expense.query_slug %}">
                            See details
                        </a>
                    </td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
        
    </div>

    <!-- CALENDAR -->
    <div id="show_calendar_button" class="feature_expander_button">
        MONTH CALENDAR BASED SERACH
    </div>

    <div id="calendar_div" class="form_store_div hide">
        <div id="calendar_cancel_button" class="cancel_button_absolute">X</div>
        <div class="div_upper_end_2rem">
            {{ current_date|date:'F, Y' }}
            <div id="calendar" >
                
                {% for day in current_month_days %}
                <div>
                    <a href="{% url 'expenses:day_based_expenses' arg_1_day=day arg_2_month=current_date.month arg_3_year=current_date.year %}">
                        {{ day }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- DAY BASED SEARCH FORM -->
    
    <div id="show_find_by_date_form_button" class="feature_expander_button">
        DATE BASED SERACH
    </div>
    <div id="find_by_date_form_div" class="form_store_div hide">
        <div id="find_by_date_form_cancel_button" class="cancel_button_absolute">X</div>
        <form action="" method="get" class="form div_right_end_2rem">
            <div class="display_flex">
                {{ day_based_expenses_get_form }}
                <input type="hidden" name="day_based_expenses_get_form">
                <button type="submit">Find</button>
            </div>
        </form>
    </div>

    <!-- MONTH BASED SEARCH FORM -->
    
    <div id="show_find_by_month_form_button" class="feature_expander_button">
        MONTH BASED SERACH
    </div>
    <div id="find_by_month_form_div" class="form_store_div hide">
        <div id="find_by_month_form_cancel_button" class="cancel_button_absolute">X</div>
        <form action="" method="get" class="form div_right_end_2rem">
            <div class="display_flex">
                {{ month_based_expenses_get_form }}
                <input type="hidden" name="month_based_expenses_get_form">
                <button type="submit">Find</button>
            </div>
        </form>
    </div>

</section>

<script src="{% static 'expenses/scripts/home_1.js' %}"></script>
{% endblock body %}